<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/images.css" class="rel">

<div class="row">
    <h1 class="text-center">Edit Attraction</h1>
    <div class="col-6 offset-3">
        <form action="/attractions/<%= attraction._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="attraction[title]" id="title" value="<%= attraction.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="attraction[location]" id="location" value="<%= attraction.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Images</label>
                <div class="form-file custom-file">
                    <input type="file" class="form-control" name="image" id="image" multiple onchange="previewMultiple(event)">
                    <label for="custom-form-label"></label>
                </div>
                <div id="formFile"></div>
                <div id="formFile">
                    <% attraction.images.forEach(function(img, i) { %>
                        <label for="image-<%= i %>">
                            <img src="<%= img.url %> " alt="">
                        </label>
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%= i %>">
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="attraction[description]" id="description" required><%= attraction.description %> </textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update Attraction</button>
            </div>
        </form>
        <a href="/attractions">Back To Attractions</a>
    
    </div>
</div>
