<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/images.css" class="rel">

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Images</label>
                <div class="form-file custom-file">
                    <input type="file" class="form-control" name="image" id="image" multiple onchange="previewMultiple(event)">
                    <label for="custom-form-label"></label>
                </div>
                <div id="formFile"></div>
                <div id="formFile">
                    <% campground.images.forEach(function(img, i) { %>
                        <label for="image-<%= i %>">
                            <img src="<%= img.url %> " alt="">
                        </label>
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%= i %>">
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price" id="price-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" name="campground[price]" value="<%= campground.price %>" aria-describedby="price-label" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required><%= campground.description %> </textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds">Back To Campgrounds</a>
    
    </div>
</div>
